# Python env
llm-env/
venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Logs & outputs
logs/
*.log

# Secrets
.env

# Large model files
models/
!models/
!models/.gitkeep
!models/config.example.yml
models/config.yml
models/config.yml.save
*.gguf
*.bin
llama.cpp/
